<h1>Search page</h1>
<div class="mt-4">
  <form method="POST" action="">
    <div class="form-group">
      <label for="exampleInputEmail1">Enter keyword</label>
      <input
        type="text"
        name="q"
        class="form-control"
        id="search-input"
        placeholder="Enter key..."
      />

    </div>
    <button type="submit" class="btn btn-primary">Search now</button>
  </form>
</div>